#!/bin/bash

export ENVIRONMENT="${environment}"
export INVENTORY="wireguard.ini"
export PLAYBOOK="deploy-wireguard.yml"

curl -m 5 --retry 2 -fL "https://raw.githubusercontent.com/flaudisio/bootcamp-sre-ansible-playbooks/main/_scripts/setup-instance.sh" | bash
